{% extends 'HomePage/Base.html' %}
{% load static %}
{% block cssblock %}<!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contentblock %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-2 text-gray-800">Bảng điểm lớp {{currentPhanCong.0.ChiaLop.DanhMucLop.TenLop}} năm học {{currentPhanCong.0.ChiaLop.DanhMucNienKhoa.NamBatDau}} - {{currentPhanCong.0.ChiaLop.DanhMucNienKhoa.NamKetThuc}}</h1>
                    <input type="submit" id="InputForm" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" value="Lưu lại"/>
                    </div>
                    {% if list is None %}
                    <p class="mb-4 text-danger">Không có dữ liệu.</p>
                    {% else %}
                    <!-- DataTables Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                                    <h6>Cập nhật điểm thiếu nhi</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Tên thánh</th>
                                            <th>Họ và tên</th>
                                            <th>Điểm KTM HK1</th>
                                            <th>Điểm KTV HK1</th>
                                            <th>Điểm KT15' HK1</th>
                                            <th>Điểm KT 1 Tiết HK1</th>
                                            <th>Ngày Thi HK1</th>
                                            <th>Điểm KTM HK2</th>
                                            <th>Điểm KTV HK2</th>
                                            <th>Điểm KT15' HK2</th>
                                            <th>Điểm KT 1 Tiết HK2</th>
                                            <th>Ngày Thi HK2</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Tên thánh</th>
                                            <th>Họ và tên</th>
                                            <th>Điểm KTM HK1</th>
                                            <th>Điểm KTV HK1</th>
                                            <th>Điểm KT15' HK1</th>
                                            <th>Điểm KT 1 Tiết HK1</th>
                                            <th>Điểm Thi HK1</th>
                                            <th>Điểm KTM HK2</th>
                                            <th>Điểm KTV HK2</th>
                                            <th>Điểm KT15' HK2</th>
                                            <th>Điểm KT 1 Tiết HK2</th>
                                            <th>Điểm Thi HK2</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for item in list %}
                                        <tr>
                                        <form class="allforms" id="InputForm{{item.info.id_BangDiem}}" action="{% url 'VanHanhNamHoc:updatebangdiem' item.info.id_BangDiem %}" method="post">
                                            {% csrf_token %}
                                            <td>{{forloop.counter}}
                                            <input type="submit" hidden value="Lưu lại"/></td>
                                            <td>{{item.info.ThieuNhi.TenThanh}}</td>
                                            <td>{{item.info.ThieuNhi.HoTen}}</td>
                                            <td>{{item.form.DiemKTM_HK1}}</td>
                                            <td>{{item.form.DiemKTV_HK1}}</td>
                                            <td>{{item.form.DiemKT15_HK1}}</td>
                                            <td>{{item.form.DiemKT1T_HK1}}</td>
                                            <td>{{item.form.DiemThi_HK1}}</td>
                                            <td>{{item.form.DiemKTM_HK2}}</td>
                                            <td>{{item.form.DiemKTV_HK2}}</td>
                                            <td>{{item.form.DiemKT15_HK2}}</td>
                                            <td>{{item.form.DiemKT1T_HK2}}</td>
                                            <td>{{item.form.DiemThi_HK2}}</td>
                                        </form>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- /.container-fluid -->

{% endblock %}



{% block jsblock %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#InputForm').click(function(){
        $('.allforms').each(function(){
            valuesToSend = $(this).serialize();
            $.ajax($(this).attr('action'),
                {
                method: $(this).attr('method'),
                data: valuesToSend
                }
            )
        });
        setTimeout(location.reload.bind(location), 1000);

    });
});
</script>
{% endblock %}