{% extends 'HomePage/Base.html' %}
{% load static %}
{% block cssblock %}<!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contentblock %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-2 text-gray-800">Điểm danh lớp {{currentPhanCong.0.ChiaLop.DanhMucLop.TenLop}} năm học {{currentPhanCong.0.ChiaLop.DanhMucNienKhoa.NamBatDau}} - {{currentPhanCong.0.ChiaLop.DanhMucNienKhoa.NamKetThuc}}</h1>
                    <input type="submit" id="InputForm" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" value="Lưu lại"/>
                    </div>
                    <!-- DataTables Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Cập nhật chuyên cần thiếu nhi</h6>
                        </div>

                        <div class="col-sm-6">
                            <h4><u>Ngày điểm danh:</u></h4> <input type="text" id="NgayDiemDanh" required readonly value="{{NgayDiemDanh}}" class="form-control form-control-user"/>
                            {% if NgayDiemDanh is None%} <p class="mb-4 text-danger" id="errNgayDiemDanh">Vui lòng nhập ngày điểm danh</p>{% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Tên thánh</th>
                                            <th>Họ và tên</th>
                                            <th>Điểm danh</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Tên thánh</th>
                                            <th>Họ và tên</th>
                                            <th>Điểm danh</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for item in list %}
                                        <tr>
                                        <form class="allforms" id="InputForm{{item.info.ThieuNhi.id_ThieuNhi}}" action="{% url 'VanHanhNamHoc:updatediemdanh1row' id_ThieuNhi=item.info.ThieuNhi.id_ThieuNhi id_ChiaLop=currentPhanCong.0.ChiaLop.id_ChiaLop %}" method="post">
                                            {% csrf_token %}
                                            <td>{{forloop.counter}}
                                            <input type="submit" hidden value="Lưu lại"/></td>
                                            <td>{{item.info.ThieuNhi.TenThanh}}</td>
                                            <td>{{item.info.ThieuNhi.HoTen}}</td>
                                            <td>
                                                {{item.form.NgayDiemDanh}}
                                                {{item.form.KetQuaDiemDanh}}
                                            </td>
                                        </form>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

{% endblock %}



{% block jsblock %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static 'js/jquery-ui.js' %}"></script>
<script>
$(document).ready(function(){
    $("#NgayDiemDanh").datepicker({
        beforeShowDay: $.datepicker.LichHocGiaoLy
    });
});
$(document).ready(function(){
    $( "#NgayDiemDanh" ).change(function() {
        parts = $("#NgayDiemDanh").val().split("/")
        $("input[name='NgayDiemDanh'").each(function(){
            $(this).val(parts[2]+"-"+parts[1]+"-"+parts[0]);
        });
        location.replace("{% url 'VanHanhNamHoc:creatediemdanh' %}" + parts[2]+"/"+parts[1]+"/"+parts[0])
    });
});
$(document).ready(function() {
    $('#InputForm').click(function(){
        if($("#NgayDiemDanh").val() == ''){
            $("#NgayDiemDanh").focus();
        } else {
            $('.allforms').each(function(){
                valuesToSend = $(this).serialize();
                $.ajax($(this).attr('action'),
                    {
                    method: $(this).attr('method'),
                    data: valuesToSend
                    }
                )
            });
            setTimeout(function(){location.replace("{% url 'VanHanhNamHoc:diemdanh' %}")}, 1500);
        }
    });
});
</script>
{% endblock %}