
<!DOCTYPE html>
{% load static %}
{% load hotkeys  %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Huynh Trưởng Phú Bình</title>
    {% block cssblock %}
    {% endblock %}
    {% setup_hotkeys %}
</head>

<body id="page-top">

    {% include 'HomePage/NavBar.html' %}
    {% block contentblock %}
    {% endblock %}
    {% include 'HomePage/Footer.html' %}
    {% block jsblock %}
    {% endblock %}
</body>

</html>